name: PR Check

on:
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup Bun
        uses: oven-sh/setup-bun@f4d14e03ff726c06358e5557344e1da148b56cf7 # v1.2.2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Run TypeScript compiler check
        run: bun run build

      - name: Run tests
        run: bun run test

      - name: Run linter and formatter check
        run: bun run check
